*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

:root {
  --nav: wheat;
  --color:#282c34;

}

a{
  color: var(--color);
}

.Home{
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text{
  color: red;
  font-size: 16px;
  font-family:Times, serif;
}

.links li {
  list-style-type: none;
  padding-left: 40px;
}
.navhome Link{
  list-style-type: none;
  padding-left: 40px;
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
 
}

.gridheader h3 {
  padding-left:50% ;
  padding-top: 20px;
}

.gridheaderc h3 {
  padding-left:45% ;
  padding-top: 20px;
}


.main li {
  list-style-type: none;
  padding: 40px;
  color: var(--nav);
  text-decoration: none;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.footer {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: aliceblue;
  background-color: var(--color);

 
}
.nav{
  background-color: var(--nav);
  


}


.main{
  display: flex;
  font-size: 50px;
  flex-direction: row;
  position: absolute;
  left: 30%;
  top: 50%;
  text-decoration: none;

  
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 20px;
  
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 15px;

}


.card1{
   margin-bottom: 50px;
   margin-top: 60px;
   margin-left: 50px;
 }
.card1 img{
   width: 100%;
   height: 50%;
   object-fit: cover;
 }

@media only screen and (max-width: 1024px) {

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .main{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    position: absolute;
    left: 30%;
    top: 50%;
    text-decoration: none;
  }
  .main li {
 
    padding: 25px;
    
  }

  
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
}
  
}

@media only screen and (max-width: 667px) {

  .cards {
    grid-template-columns: repeat(1, 1fr);
 
  }
  .main{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    position: absolute;
    left: 50%;
    text-decoration: none;
  } 

  .main li {
    padding: 20px;
    
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
  }

}
